# Database
DATABASE_URL="file:./data/voter.db"

# Session Secret
SESSION_SECRET=5viAfBWWE6MtZaZXQV3vaU2PwQlCtHhiPciaTlc8IX4=

# Creadentials for Admin User
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Seed Database (set to true to seed on first run)
SEED_DATABASE=false

CURRENT_IP=192.168.230.88
# API URLs
NEXT_PUBLIC_API_URL=http://${CURRENT_IP}:3000
FRONTEND_URL=http://${CURRENT_IP}:3000

# WhatsApp Service
WHATSAPP_SERVICE_PORT=3001
WHATSAPP_SERVICE_URL=http://${CURRENT_IP}:3001
NEXT_PUBLIC_WHATSAPP_SERVICE_URL=http://${CURRENT_IP}:3001

# Node Environment
NODE_ENV=development